*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; padding: 0;
}
:root{
    --color-icon:red;
    --color-item-text: rgb(81, 81, 81);

    --bg-color-header: rgb(247, 190, 190);
    --bg-color-item:  rgb(243, 243, 243);

    --font-size-item-text: 16px;

    --border-radius: 6px;
}
.header{
    display: flex;
    margin-top: 10px;
    padding: 20px;
    border: 2px solid rgb(126, 126, 126);
    border-radius: 8px;
}
.logo{
    display: flex;
}
.logo .img_logo img{
    width: 50px;
}
.logo .name_logo h3{
    width: 200px;
    margin-top: 5px;
    margin-left: 10px;

}
.logo .name_logo h3 a{
    text-decoration: none;
    font-weight: bold;
    color: red;
}
.user_name{
    margin-top: 6px;
    width: 50px;
    justify-content: end;
    display: flex;
}
.user_name a{
    font-size: 25px;
    color: var(--color-icon);
}
.user_name a:hover{
    position: absolute;
    border-bottom: 4px solid rgb(255, 0, 0);
    transition: 0.1s;
}
.search{
    width: 100%;
    margin-top: 10px;
    margin-right: 20px;
    justify-content: end;
    display: flex;
}

.menu_bar .item_menu{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.menu_bar #item_1 {
    border-left: 1px solid rgb(126, 126, 126);
    padding:0px 10px 0px 10px;
}
.menu_bar .list_menu a{
    color: red;
}


.info_page{
    padding: 50px 20px;
    background-color: rgb(82, 82, 82);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}
.info_page .list_info a{
   text-decoration: none;
   color: aliceblue;
}
.info_page .list_info a:hover{
   text-decoration: underline;
}
.info_page .info{
    width: 200px;
}
.info_page .info .logo{
    width: 50px;
    margin: auto;
}
.info_page .info .logo img{
    width: 100%;
}
.info_page .info .text{
    margin-top: 10px;
    text-align: center;
}
.info_page .info .icon {
    text-align: center;
}
.info_page .info .icon a{
    color: white;
    font-size: 30px;
    padding: 0px 5px;
    text-decoration: none;
}




