*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; padding: 0;
}
:root{
    --color-icon:red;
    --color-item-text: rgb(81, 81, 81);

    --bg-color-header: rgb(247, 190, 190);
    --bg-color-item:  rgb(243, 243, 243);

    --font-size-item-text: 16px;

    --border-radius: 6px;
}
.header{
    display: flex;
    margin-top: 10px;
    padding: 20px;
    border: 2px solid rgb(126, 126, 126);
    border-radius: 8px;
}
.logo{
    display: flex;
}
.logo .img_logo img{
    width: 50px;
}
.logo .name_logo h3{
    width: 200px;
    margin-top: 5px;
    margin-left: 10px;

}
.logo .name_logo h3 a{
    text-decoration: none;
    font-weight: bold;
    color: red;
}
.user_name{
    margin-top: 6px;
    width: 50px;
    justify-content: end;
    display: flex;
}
.user_name a{
    font-size: 25px;
    color: var(--color-icon);
}
.user_name a:hover{
    position: absolute;
    border-bottom: 4px solid rgb(255, 0, 0);
    transition: 0.1s;
}
.search{
    width: 100%;
    margin-top: 10px;
    margin-right: 20px;
    justify-content: end;
    display: flex;
}

.menu_bar .item_menu{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.menu_bar #item_1 {
    border-left: 1px solid rgb(126, 126, 126);
    padding:0px 10px 0px 10px;
}
.menu_bar .list_menu a{
    color: red;
}

#content_left .list_content .header_content{
    background-color: var(--bg-color-header) ;
    padding: 10px 0px 7px 15px;
    border-radius: var(--border-radius);
}
#content_left .list_content .item{
    display: flex;
    justify-content: space-between;
}
#content_left .list_content .item .list_item{
    margin-top: 10px;
    background-color:var(--bg-color-item);
    width: 24%;
    padding: 10px;
    border-radius: var(--border-radius);
}
#content_left .list_content .item .list_item:hover{
    box-shadow: 3px 3px 3px rgb(94, 94, 94);
    transition: 0.3s;
}
#content_left .list_content .item img{
    width: 100%;
}
#content_left .list_content .item .text{
    margin-left: 20px;
    width: 80%;
    font-size: var(--font-size-item-text);
    color: var(--color-item-text);
}
#content_left .list_content .item .money{
    margin-left: 20px;
    font-size: var(--font-size-item-text);
    color: red;
}
#content_left .list_content .item .show{
    width: 90%;
    margin: 10px auto;
    padding: 3px;
    border: 1px solid red;
    border-radius: var(--border-radius);
    text-align: center;
}
#content_left .list_content .item .show a{
    color: red;
    text-decoration: none;
}
#content_left .list_content .item .show a:hover{
    text-decoration: underline;
}
#content_left .list_content .show_content {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--bg-color-item);
    text-align: center;
    border-radius: var(--border-radius);
}
#content_left .list_content .show_content:hover {
    box-shadow: 3px 3px 3px rgb(94, 94, 94);
    transition: 0.3s;
}

#content_left .list_content .show_content a{
    color: red;
    padding: 3px 10px;
    text-decoration: none;
    border: 1px solid red;
}
#content_left .list_content .show_content a:hover{
    text-decoration: underline;
    transition: 0.3s;
}

#content_right .list_menu{
    width: 100%;
    border: 1px solid red;
    padding: 10px;
    background-color: var(--bg-color-item);
}
#content_right .list_menu .header_menu{
    margin-top: 10px;
    text-align: center;
}

#content_right .list_menu a{
    color: black;
    text-decoration: none;
}
#content_right .list_menu a:hover{
    color: red;
    text-decoration: underline;
    padding-left: 5px;
    transition: 0.3s;
}

.info_page{
    padding: 50px 20px;
    background-color: rgb(82, 82, 82);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}
.info_page .list_info a{
   text-decoration: none;
   color: aliceblue;
}
.info_page .list_info a:hover{
   text-decoration: underline;
}
.info_page .info{
    width: 200px;
}
.info_page .info .logo{
    width: 50px;
    margin: auto;
}
.info_page .info .logo img{
    width: 100%;
}
.info_page .info .text{
    margin-top: 10px;
    text-align: center;
}
.info_page .info .icon {
    text-align: center;
}
.info_page .info .icon a{
    color: white;
    font-size: 30px;
    padding: 0px 5px;
    text-decoration: none;
}




