*{
    margin: 0; padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

:root{
    --font-size_menu: 16px;
    --font-size_header: 18px;
    --font-size_text: 16px;
    --font-size_item_menu: 14px;
    --font-size_item_comment: 14px;
    
    --color-text_grey_1: rgb(142, 142, 142);
    --color-text_white_1: rgb(255, 255, 255);
    --color-text_navy: navy;
    --color-text_black: black;
    --color-text_blue_1: rgb(0, 140, 255);
    --color-text_green_1: green;

    --color-bg-grey_1:rgb(115, 115, 115);
    --color-bg-white_1:rgb(254, 253, 243);
    --color-bg-white_2:rgba(137, 137, 138, 0.299);
    --color-bg-white_3:rgba(221, 221, 221, 0.393);
    --color-border-black_1:rgb(93, 93, 93);
    --color-border-black_2:black;
    --color-border-navy:navy;

    --border-radius: 8px;

    --list_menu:rgb(0, 0, 255);
}
.bar{
    height: 50px;
}
.menu{
    margin-top: 20px;
    font-size: var(--font-size_menu);
}

.menu_bar{
    width: 100%;
    height: 40px;
}
.menu_bar ul{
    list-style: none;
    display: flex;
    margin-left: -25px;
}

.menu_bar li{
    margin-top: 8px;
    margin-right: 10px;
}
.menu_bar a{
    color: black;
    text-decoration: none; 
    padding: 0px 10px 0px 10px;
    margin-left: 0px;
}
.menu_bar li hr{
    width:90%; 
    height: 3px;     
    margin: 6px auto;
    background-color: #ffffff; 
    transition: 0.5s;
}

.menu_bar li:hover hr{
   background-color: rgb(0, 0, 0);
   
}


#Tai_Lieu .menu_bar #dropdownId{
    color: black;
}
#Tai_Lieu .menu_bar .dropdown-item{
    font-size: var(--font-size_item_menu);
    padding-top: 3px;
    padding-bottom: 3px;
}

.content{
    display: flex;
    justify-content: space-between;
}
.content .content_left{
    width: 76%;
}
.content .content_left .Tu_vung{
    padding: 20px;
    border: 4px solid var(--color-border-navy);
    border-radius: var(--border-radius);
}

.content .content_left h3{
    text-align: center;
    font-weight: bold;
    color: var(--color-text_navy);
}
.content .content_left .text{
    display: flex;
    justify-content: space-between;
}
.content .content_left .text .STT{
    width: 10%;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.content .content_left .text .Hiragana{
    width: 25%;
}
.content .content_left .text .Kanji{
    width: 20%;
}
.content .content_left .text .y_nghia{
    width: 40%;
}
.content .content_left .text .row_text{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.content .content_left #item_1{
    background-color: var(--color-bg-white_2);
    padding: 15px 0px 15px 0px;
}
.content .content_left #item_2{
    background-color: var(--color-bg-white_3);
    padding: 15px 0px 15px 0px;
}


.content .content_left .Tro_tu{
    margin-top: 40px;
    padding: 20px;
    border: 4px solid var(--color-border-navy);
    border-radius: var(--border-radius);
}
.content .content_left .Tro_tu .text{
    line-height: 2;
}

.content .content_left .Cau_truc{
    margin-top: 40px;
    padding: 20px;
    border: 4px solid var(--color-border-navy);
    border-radius: var(--border-radius);
}
.content .content_left .Cau_truc .text{
    line-height: 2;
    margin-left: 10px;
}
.content .content_left .Cau_truc .note_ct{
    margin-top: 10px;
    border: 1px solid red;
    padding: 20px;
}
.content .content_left .Cau_truc .note_cmt{
    margin-top: 20px;
    font-size: var(--font-size_header);
    font-weight: bold;
    color: var(--color-text_blue_1);
}
.content .content_left .Cau_truc .note_ct .note_header{
   padding: 5px;
   background-color: gold;
   width: 40px;
}

.content .content_left .Luyen_tap H3{
    color: var(--color-text_black);
}
.content .content_left .Luyen_tap{
    margin-top: 40px;
    padding: 20px;
    border: 4px solid var(--color-border-black_2);
    border-radius: var(--border-radius);
}
.content .content_left .Luyen_tap .header_lt{
    margin-top: 20px;
    font-size: var(--font-size_header);
    font-weight: bold;
    color: var(--color-text_green_1);
}
.content .content_left .Luyen_tap .text_lt{
    line-height: 2;
    margin-left: 10px;
}


.giaoTrinh{
    background-color: rgb(244, 244, 244);
    padding: 10px 30px;
}

.giaoTrinh .list_giaoTrinh .header{
    margin-left: -32px;
    font-weight: bold;
    font-size: var(--font-size_header);
}
.giaoTrinh:hover{
    transition: 0.4s;
    box-shadow: 5px 5px 5px rgb(181, 181, 181);

}
.giaoTrinh:hover h4 {
    color: navy;

}
.giaoTrinh .list_giaoTrinh .header a{
    color: var(--color-text_grey_1);
    text-decoration: none;
}
.giaoTrinh .list_giaoTrinh li a{
    font-size: var(--font-size_text);
    text-decoration: none;
    color: black;
}
.giaoTrinh .list_giaoTrinh li a:hover{
    font-size: var(--font-size_text);
    text-decoration: underline;
    color: navy;
    padding-left: 5px;
    transition: 0.4s;
}


/*  */
/*  */
/*  */
.Information{
    background-color: rgb(244, 244, 244);
    text-align: center;
    border-bottom: 7px solid black;
    height: 160px;
}
.Information .infocomment{
    padding-top: 15px;
}
.Information .item_info{
    padding-top: 5px;
    font-size: var(--font-size_item_comment);
}
.Information .item_logo{
    padding-top: 20px;
    font-size: 30px;
}
.Information .item_logo i{
    color: rgba(0, 0, 0, 0.616);
}
.Information .item_logo:hover i{
    color: rgba(0, 0, 255, 0.685);
    transition: 0.3s;
}

.Information .logo_bar{
    width: 100%;
    display: flex;
    justify-content: end;
}
.Information .logo_bar img{
    width: 40px;
    margin-top: -7px;
}