*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --color-red:red;
    --color-border:rgba(148, 0, 0, 0.519);
    --font-size:14px;
    --box-shadow: rgb(154, 154, 154);
}
.welcome{
    width: 350px;
    margin-top: 50px;
    padding-bottom: 50px;
}
.login{
    margin: 80px auto;
    display: flex;
    width: 650px;
    background-color: white;
    border: 5px solid var(--color-border);
    border-radius: 16px;
    box-shadow: 15px 15px 20px var(--box-shadow) ;
}
.form_login{
    margin: 20px auto;
    width: 300px;
    padding: 40px;
    border-left: 5px solid var(--color-border);
}
form{
    margin-top: 20px;
}
h1{
    text-align: center;
    color: black;
    font-weight: bold;

}
.form-label{
    font-size: var(--font-size);
}
